/* ImageDisplay.css */

.image-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; /* Set the container width to 80% of the screen */
  margin: 0 auto; /* Center the container */
}

.image-display-container img {
  width: 100%; /* Ensure the image takes up 100% of the container's width */
  height: auto; /* Maintain the aspect ratio */
  transition: opacity 0.5s ease-in-out; /* Add transition effect for opacity */
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button.selected {
  border: 3px solid #0056b3;
  color: #000;
}




