.ranking-container {
  margin-top: 20px;
  text-align: center;
}

.results-grid,
.rankings-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.results-grid {
  background-color: #f6f6f6;
  width: 300px;
  height: 200px;
}


.result-item {
  margin: 0 10px;
  text-align: center;
  cursor: grab;
}

.result-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ranking-slot {
  width: 120px;
  height: 120px;
  margin: 0 10px;
  background-color: #e0e0e0;
  border: 2px dashed #007bff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.ranking-slot p {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.ranked-result img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.ranked-result img:hover {
  cursor: grab;
}

.ranked-result img:active {
  cursor: grabbing;
}

.ranked-result p {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #333;
}
