/* src/components/ImageUploader/ImageUploader.css */

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 20px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #007bff;
  border-style: dashed;
  background-color: #f8f8f8;
  color: #333333;
  outline: none;
  transition: border .24s ease-in-out;
  cursor: pointer;
  margin: 50px;
  height: 200px;
}
